*{
    box-sizing: border-box;
}

li{
    list-style: none;
}

.home{
    height: 100vh;
    background: #171718;
}

section{
    min-height: 100vh;
}

img{
    width: 100%;
}

.footer{
    background: #171718;
}